In [1]:
def calculate_mean_std(df_names, dfs):
    perf_train, perf_fair = [], []

    for df_name, df in zip(df_names, dfs):
        df_train = df[df['data'] == 'train_cont_ord_cat'].drop(columns=['data'])
        df_fair = df[df['data'] == 'fair_cont_ord_cat'].drop(columns=['data'])
        
        df_train_mean = df_train.mean()
        df_train_std = df_train.std()
        df_train_median = df_train.median()
        df_train_mean['dataset'] = df_name
        df_train_std['dataset'] = df_name
        df_train_median['dataset'] = df_name
        df_train_mean['type'] = 'mean'
        df_train_median['type'] = 'median'
        df_train_std['type'] = 'std'
        perf_train.append(df_train_mean.to_frame().T)
        perf_train.append(df_train_median.to_frame().T)
        perf_train.append(df_train_std.to_frame().T)
        
        df_fair_mean = df_fair.mean()
        df_fair_median = df_fair.median()
        df_fair_std = df_fair.std()
        df_fair_mean['dataset'] = df_name
        df_fair_median['dataset'] = df_name
        df_fair_std['dataset'] = df_name
        df_fair_mean['type'] = 'mean'
        df_fair_median['type'] = 'median'
        df_fair_std['type'] = 'std'
        perf_fair.append(df_fair_mean.to_frame().T)
        perf_fair.append(df_fair_median.to_frame().T)
        perf_fair.append(df_fair_std.to_frame().T)
    
    perf_train = pd.concat(perf_train).reset_index(drop=True)
    perf_fair = pd.concat(perf_fair).reset_index(drop=True)
    return perf_train, perf_fair

# HFOS

In [2]:
import pandas as pd

df_adult_fair = pd.read_csv('../results/hfos_adult_lr/fairness_only_cont_int_5.csv')
df_adult_perf = pd.read_csv("../results/hfos_adult_lr/performance_only_cont_int_5.csv")

df_german_fair = pd.read_csv('../results/hfos_german_lr/fairness_only_cont_int_5.csv')
df_german_perf = pd.read_csv("../results/hfos_german_lr/performance_only_cont_int_5.csv")

df_bank_fair = pd.read_csv('../results/hfos_bank_lr/fairness_only_cont_int_5.csv')
df_bank_perf = pd.read_csv("../results/hfos_bank_lr/performance_only_cont_int_5.csv")

In [3]:
perf_train, perf_fair = calculate_mean_std(['adult', 'german', 'bank'], [df_adult_perf, df_german_perf, df_bank_perf])

In [4]:
perf_train

   accuracy balanced_accuracy        f1     gmean dataset    type
0  0.844732          0.762898  0.658594  0.745067   adult    mean
1  0.843798          0.762012  0.658555  0.743291   adult  median
2  0.003477          0.003949  0.004621  0.005682   adult     std
3  0.727143          0.624989  0.818232  0.570086  german    mean
4      0.74           0.63156  0.827815  0.577214  german  median
5  0.027667          0.016897  0.023679  0.022371  german     std
6  0.900857          0.646407  0.424949  0.554594    bank    mean
7   0.90239          0.646318  0.423395  0.555497    bank  median
8  0.004095          0.008984   0.01928  0.015577    bank     std

In [5]:
perf_fair

   accuracy balanced_accuracy        f1     gmean dataset    type
0  0.816274          0.770599  0.647913  0.763797   adult    mean
1  0.819886          0.769126  0.652506  0.762179   adult  median
2  0.007815          0.022136  0.025453  0.027609   adult     std
3  0.684286          0.641737  0.768487  0.631191  german    mean
4       0.7          0.652376  0.776978  0.632306  german  median
5   0.04097           0.04403   0.03494  0.047648  german     std
6  0.807152          0.733495  0.438007  0.724272    bank    mean
7  0.822488          0.747121  0.452916  0.734867    bank  median
8   0.04204          0.031528  0.041257  0.041032    bank     std

In [6]:
fair_train, fair_fair = calculate_mean_std(['adult', 'german', 'bank'], [df_adult_fair, df_german_fair, df_bank_fair])

In [7]:
fair_train

,statistical_parity,equal_opportunity,average_odds,average_absolute_odds,disparate_impact,adapted_disparate_impact,dataset,type
0,0.105636,-0.080736,0.061109,0.061109,0.523412,0.523412,adult,mean
1,0.106311,-0.08253,0.060943,0.060943,0.512991,0.512991,adult,median
2,0.010173,0.032679,0.015775,0.015775,0.038465,0.038465,adult,std
3,0.069782,-0.051006,0.053745,0.090434,0.915191,0.891301,german,mean
4,0.088093,-0.050691,0.082846,0.085362,0.890501,0.890501,german,median
5,0.082565,0.073148,0.097169,0.057229,0.100041,0.067565,german,std
6,0.112382,-0.126814,0.089317,0.089317,0.330847,0.330847,bank,mean
7,0.122251,-0.133342,0.09544,0.09544,0.311355,0.311355,bank,median
8,0.022144,0.068876,0.038038,0.038038,0.059947,0.059947,bank,std

In [8]:
fair_fair

,statistical_parity,equal_opportunity,average_odds,average_absolute_odds,disparate_impact,adapted_disparate_impact,dataset,type
0,-0.023203,0.1575,-0.112846,0.149007,1.173751,0.719806,adult,mean
1,-0.007042,0.14391,-0.103472,0.114527,1.023997,0.742043,adult,median
2,0.127968,0.171817,0.137942,0.090349,0.519963,0.208151,adult,std
3,0.130876,-0.121212,0.107342,0.221797,0.835658,0.722084,german,mean
4,0.154416,-0.134386,0.124658,0.222688,0.776768,0.757576,german,median
5,0.244426,0.202711,0.251851,0.142052,0.329468,0.205908,german,std
6,0.285128,-0.168256,0.203018,0.203018,0.487265,0.487265,bank,mean
7,0.235401,-0.100962,0.164811,0.164811,0.544632,0.544632,bank,median
8,0.224469,0.168464,0.209667,0.209667,0.169916,0.169916,bank,std

# FAWOS

In [9]:
df_german_fair = pd.read_csv('../results/fawos_german_lr/fairness_5.csv')
df_german_perf = pd.read_csv("../results/fawos_german_lr/performance_5.csv")

In [10]:
perf_train, perf_fair = calculate_mean_std(['german'], [df_bank_perf])

In [11]:
perf_train

   accuracy balanced_accuracy        f1     gmean dataset    type
0  0.900857          0.646407  0.424949  0.554594  german    mean
1   0.90239          0.646318  0.423395  0.555497  german  median
2  0.004095          0.008984   0.01928  0.015577  german     std

In [12]:
perf_fair

   accuracy balanced_accuracy        f1     gmean dataset    type
0  0.807152          0.733495  0.438007  0.724272  german    mean
1  0.822488          0.747121  0.452916  0.734867  german  median
2   0.04204          0.031528  0.041257  0.041032  german     std

In [13]:
fair_train, fair_fair = calculate_mean_std(['german'], [df_german_fair])

In [14]:
fair_train

,statistical_parity,equal_opportunity,average_odds,average_absolute_odds,disparate_impact,adapted_disparate_impact,dataset,type
0,0.069782,-0.051006,0.053745,0.090434,0.915191,0.891301,german,mean
1,0.088093,-0.050691,0.082846,0.085362,0.890501,0.890501,german,median
2,0.082565,0.073148,0.097169,0.057229,0.100041,0.067565,german,std

In [15]:
fair_fair

,statistical_parity,equal_opportunity,average_odds,average_absolute_odds,disparate_impact,adapted_disparate_impact,dataset,type
0,0.003954,-0.004284,-0.023581,0.060665,0.99549,0.941686,german,mean
1,0.016632,-0.002976,-0.00557,0.053389,0.979823,0.933333,german,median
2,0.067389,0.041829,0.07633,0.047985,0.080577,0.043699,german,std

# FOS

# FAWOS hyperparameters

In [16]:
def calculate_mean_std_tuning(df):
    fair = []
    
    unique_values = df['weight'].unique().tolist()
    for v in unique_values:
        df_small = df[df['weight'] == v].drop(columns=['weight'])
        df_small_mean = df_small.mean()
        df_small_median = df_small.median()
        df_small_std = df_small.std()
        df_small_mean['dataset'] = v
        df_small_median['dataset'] = v
        df_small_std['dataset'] = v
        df_small_mean['type'] = 'mean'
        df_small_median['type'] = 'median'
        df_small_std['type'] = 'std'
        fair.append(df_small_mean.to_frame().T)
        fair.append(df_small_median.to_frame().T)
        fair.append(df_small_std.to_frame().T)
    
    fair = pd.concat(fair).reset_index(drop=True)
    return fair

In [17]:
df_fairness = pd.read_csv('../results/FAWOS_finetune/fairness.csv').drop(columns=['Unnamed: 0'])
df_performance = pd.read_csv('../results/FAWOS_finetune/performance.csv').drop(columns=['Unnamed: 0'])

In [18]:
fair_aggr = calculate_mean_std_tuning(df_fairness)
perf_aggr = calculate_mean_std_tuning(df_performance)

In [19]:
fair_aggr

,statistical_parity,equal_opportunity,average_odds,average_absolute_odds,disparate_impact,adapted_disparate_impact,dataset,type
0,0.025679,0.008701,0.011041,0.078385,0.971108,0.936094,"{'safe': 0, 'borderline': 0.4, 'rare': 0.6}",mean
1,0.027706,0.01969,0.054181,0.077398,0.965775,0.92381,"{'safe': 0, 'borderline': 0.4, 'rare': 0.6}",median
2,0.068507,0.043919,0.085512,0.023412,0.077686,0.041522,"{'safe': 0, 'borderline': 0.4, 'rare': 0.6}",std
3,0.029361,-0.006526,0.00908,0.079151,0.967029,0.926568,"{'safe': 0, 'borderline': 0.5, 'rare': 0.5}",mean
4,0.055411,-0.01552,0.066758,0.078286,0.932347,0.932347,"{'safe': 0, 'borderline': 0.5, 'rare': 0.5}",median
5,0.068622,0.042232,0.08857,0.010794,0.078871,0.026533,"{'safe': 0, 'borderline': 0.5, 'rare': 0.5}",std
6,0.029409,0.005348,0.014288,0.083905,0.966873,0.926412,"{'safe': 0, 'borderline': 0.6, 'rare': 0.4}",mean
7,0.027706,0.01969,0.054181,0.078753,0.965775,0.944805,"{'safe': 0, 'borderline': 0.6, 'rare': 0.4}",median
8,0.074443,0.05459,0.090762,0.021368,0.085977,0.043124,"{'safe': 0, 'borderline': 0.6, 'rare': 0.4}",std
9,0.048477,-0.004176,0.038162,0.089912,0.944381,0.913126,"{'safe': 0.33, 'borderline': 0.33, 'rare': 0.33}",mean
10,0.037229,0.008292,0.061644,0.069935,0.954545,0.954545,"{'safe': 0.33, 'borderline': 0.33, 'rare': 0.33}",median
11,0.093648,0.072826,0.105574,0.05598,0.109159,0.079282,"{'safe': 0.33, 'borderline': 0.33, 'rare': 0.33}",std

In [20]:
perf_aggr

,accuracy,balanced_accuracy,f1,gmean,dataset,type
0,0.735,0.617067,0.827744,0.535518,"{'safe': 0, 'borderline': 0.4, 'rare': 0.6}",mean
1,0.725,0.60356,0.828125,0.539687,"{'safe': 0, 'borderline': 0.4, 'rare': 0.6}",median
2,0.039676,0.037454,0.031335,0.069519,"{'safe': 0, 'borderline': 0.4, 'rare': 0.6}",std
3,0.73375,0.615501,0.826724,0.536276,"{'safe': 0, 'borderline': 0.5, 'rare': 0.5}",mean
4,0.74375,0.611467,0.835341,0.539687,"{'safe': 0, 'borderline': 0.5, 'rare': 0.5}",median
5,0.031437,0.014841,0.027721,0.035584,"{'safe': 0, 'borderline': 0.5, 'rare': 0.5}",std
6,0.735,0.619263,0.827151,0.543058,"{'safe': 0, 'borderline': 0.6, 'rare': 0.4}",mean
7,0.74375,0.611467,0.834008,0.539687,"{'safe': 0, 'borderline': 0.6, 'rare': 0.4}",median
8,0.034118,0.022716,0.028819,0.045365,"{'safe': 0, 'borderline': 0.6, 'rare': 0.4}",std
9,0.73375,0.621336,0.825868,0.547654,"{'safe': 0.33, 'borderline': 0.33, 'rare': 0.33}",mean
10,0.725,0.608414,0.826772,0.542677,"{'safe': 0.33, 'borderline': 0.33, 'rare': 0.33}",median
11,0.033541,0.0333,0.026544,0.0635,"{'safe': 0.33, 'borderline': 0.33, 'rare': 0.33}",std